*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}
.Main{
  flex: 1;
  min-height: 100vh;
  padding-bottom: 15vh;
  background-color:#212121;
  color: white;
}
.navbar {
  padding: 5px 5px 0 5px;

  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
img{

  width: 38px;


}
.navbar img{
  width: 90px;
  height: 70px;
  border-radius: 40%;
}
.inputs {

  position: fixed;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
}
input{
  height: 5vh;
  width: 45vw;
  border: none;
  outline: none;
  min-width: 250px;
  font-size: 22px;
  border-radius: 30px;
  padding-left: 10px;
  margin-right: 10px;
}
 .Main .msgc{
  font-size: 15px;
  text-align: center;
}
form{
  display: flex;
 
justify-content: center;
align-items: center;
}
.Main .contents {
  overflow-y:scroll;
margin-left: 10%;
  height: 70vh;
  padding: 20px 5px 20px ;
  letter-spacing: 2px;
  line-height: 40px;
}
.contents::-webkit-scrollbar{
  display: none;

}
.contents-1{
  margin: 20px;
  background-image: linear-gradient(120deg, #a6c0fe 0%, #2e2626 100%);
  width:40%;
  height: 40vh;
   -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
  display: flex;
  flex-direction: column;
 
}
.contents-1>h1{
  font-size: 5vw;
  margin-top: 10vh;
}
.contents-1>h3{
  margin-left: 4vw;
  text-decoration: underline;
  margin-top: 4vh;
  font-size: 2vw;
}
button{width: fit-content;height:fit-content; border-radius: 50%;}
span{
  font-size: 2vw;
  
}